body {
    height: 1024px;
    min-height: 1024px;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, garamond, sans-serif;
    background-image: url(background.jpg);
    background-repeat: repeat;
}

#principalheader {
    text-align: center; 
    font-size: 22pt;
    font-weight: bold;
    /*text-decoration: none;*/
}

h4 {
    color: #A4A400;
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    text-align: left;
    text-decoration: underline;
    font-size: 18pt;
    font-weight: normal;
    letter-spacing: 0.25em;
}

span {
    background-color: RGB(240,240,240);
}

a {
    color: #A4A400;
}

#immprofilo {
    float:right; 
    height: 240px; 
    width: 240px;
}

.dati-personali {
    height: 20%;
}


ul{
    list-style-type:circle;
}


footer {
    margin: 26px;
    text-align: center;
}