body {
    background-color: lavenderblush;
}


div {
}

#container {
    width: 960px;
    margin: 0 auto;
}

#header { 
    text-align: center;
    font-size: 50pt;
    color: goldenrod;
}

#nav {
    margin: 26px;
}

#main {
    float: left;
    width: 620px;   
    height: 470px;
    font-size: 35pt;
    text-align: center;
    line-height: 182px;
    text-decoration-line: underline;
    color: lightcoral;
}

#aside {
    float: right;
    width: 300px;    
}

#footer {
    clear: both;  
    text-align: center;
    margin: 26px;
}



li {
    text-align:center;
}

a:active {
    color: maroon;
    text-decoration-color:cyan;
}